---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Socials from "../components/Socials.astro";
import Status from "../components/Status.astro";
---

<Layout title="Michael Mehall">
	<main class="flex justify-center">
		<div class="max-w-screen-lg lg:py-20 py-12 text-[#95B2A8]">
		<div class="grain"></div>
			<div
				class="flex flex-col lg:grid lg:grid-cols-2 px-4 mb-8"
			>
				<div>
					<h1
						class="text-[#DCE5E2] md:text-5xl text-4xl font-semibold"
					>
						Michael Mehall
					</h1>
					<h3
						class="text-[#DCE5E2] md:text-xl py-2"
					>
						Student at
						<a
							href="https://northeastern.edu"
							class="hover:underline decoration-wavy"
						>
							Northeastern University
						</a>
					</h3>
					<Status />
					<Socials />
				</div>
				<div class="lg:py-0 py-4">
					<h3
						class="lg:hidden text-[#DCE5E2] text-lg font-semibold mb-4"
					>
						About
					</h3>
					<p class="text-[#95B2A8]">
						I'm a software engineer
						currently who enjoys fullstack,
						machine learning,
						infrastructure, and devops. I am
						passionate bridging the gap
						between the business and
						computer science ecosystems,
						planning and developing
						solutions to automate and
						optimize both new and existing
						workflows.
						<br />
						<br />
						While not working, I love to practice
						the clarinet, write short stories,
						and play video games. I am also passionate
						about the outdoors and enjoy camping,
						hiking, mountain biking, and skiing.
					</p>
				</div>
			</div>

			<a
				class="pl-4 text-[#DCE5E2] text-xl font-semibold mb-4 hover:underline decoration-wavy"
				href="/projects"
			>
				Projects
			</a>

			<div
				class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-2"
			>
				<ProjectCard
					title="Panamax"
					wip={true}
					href="https://github.com/mehallhm/panamax"
					body="WIP - A Docker control panel based around the compose / stack workflow. Built in Golang and SolidJS, it allows for cluster management for which Swarm would be overkill"
				/>
				<ProjectCard
					title="Carbon Connect"
					wip={false}
					href="https://github.com/mehallhm/wafflers"
					body="Using a linear regression, Carbon Connect calculates an indivudal's carbon footprint while pairing them with environmental NGOs using TF-IDF and cosine similarity"
				/>
				<ProjectCard
					title="Let's Link"
					wip={false}
					href="https://github.com/mehallhm/hackbeanpot24-letslink"
					body="Built during Hack Beanpot 2024, Let's Link is a digital tool that searches for free time between people's schedules. Integrated with Google Calander to pull realtime data"
				/>
				<ProjectCard
					title="Muncher"
					wip={false}
					href="https://github.com/mehallhm/muncher"
					body="A modern replacement for NU Dining - provides hours and menus for the on-campus vendors at Northeastern University build with Astro and HTMX. Part of my initiaitve under the NU Information Project"
				/>
				<ProjectCard
					title="Deploy Advisor"
					wip={false}
					href="https://github.com/altwd"
					body="A tool built on When I Work to provide macro statistics and algorithmically choose the best employee to deploy in ECMO Locums organisations. Built with SvelteKit"
				/>
				<ProjectCard
					title="V-Form"
					wip={false}
					href="https://github.com/Cheyenne-Moutain-Computer-Science-Club/V-Form"
					body="A form tool that allows the creation of distributable forms with unique and custom question. Used by 1200+ students for Student Government elections"
				/>
				<ProjectCard
					title="smb-gym"
					wip={false}
					href="https://github.com/mehallhm/smb-gym"
					body="A custom OpenAI gym built around Ahmed Khalifa's Java Super Mario Bros that allows for custom data and level injection for Deep Q-Learning Neural Networks"
				/>
				<ProjectCard
					title="Spoon Game"
					wip={false}
					href="https://github.com/Cheyenne-Moutain-Computer-Science-Club/spoonSite"
					body="A live scoreboard for the 'Spoon Game' in District 12. Built with Nextjs and Tailwind, the site allowed for Google authenticated users to 'tag' people and accumulate points"
				/>
			</div>
		</div>
	</main>
</Layout>
